body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: transparent;
}

html{
  background-image: url('./img/map.png');
  background-size: cover;
  background-repeat: no-repeat;
}